<form [formGroup]="formgrp" (ngSubmit)="onSubmit()">
  <h2>Registration For Your Kids!</h2>
  <hr />

  <div>
    <div class="control-row">
      <div class="control">
        <label for="PFirstName">Parent First Name</label>
        <input
          type="text"
          id="PFirstName"
          name="PFirstName"
          formControlName="PFirstName" />
          <div class="control-error" *ngIf="formgrp.get('PFirstName')?.touched && formgrp.get('PFirstName')?.invalid">
        <small *ngIf="formgrp.get('PFirstName')?.errors?.['required']">First name is required</small>
        <small *ngIf="formgrp.get('PFirstName')?.errors?.['pattern']">Only letters allowed</small>
          </div>
      </div>
      <div class="control">
        <label for="PLastName">Parent Last Name</label>
        <input
          type="text"
          id="PLastName"
          name="PLastName"
          formControlName="PLastName"
        /> 
         <div class="control-error" *ngIf="formgrp.get('PLastName')?.touched && formgrp.get('PLastName')?.invalid">
        <small *ngIf="formgrp.get('PLastName')?.errors?.['required']">Last name is required</small>
        <small *ngIf="formgrp.get('PLastName')?.errors?.['pattern']">Only letters allowed</small>
          </div>
      </div>
    </div>
  </div>
   <div>
    <div class="control-row">
    <div class="control">
        <label for="Phonenumber">Phonenumber</label>
        <input
          type="text"
          id="Phonenumber"
          name="Phonenumber"
          formControlName="Phonenumber"
        />
          <div class="control-error" *ngIf="formgrp.get('Phonenumber')?.touched && formgrp.get('Phonenumber')?.invalid">
        <small *ngIf="formgrp.get('Phonenumber')?.errors?.['required']">PhoneNumber is required</small>
          </div>
      </div>
    </div>
  </div>
  <hr/>

<div>
    <div class="control-row">
      <div class="control">
        <label for="EmailID">Email</label>
         <input id="EmailID" type="email" name="EmailID" formControlName="EmailID" />
           <div class="control-error" *ngIf="formgrp.get('EmailID')?.touched && formgrp.get('EmailID')?.invalid">
        <small *ngIf="formgrp.get('EmailID')?.errors?.['required']">EmailID is required</small>
        <small *ngIf="formgrp.get('EmailID')?.errors?.['email']">
          Please enter a valid email address
        </small>

          </div>
      </div>
      <div class="control">
        <p>
          <button type="button" class="button" (click)="verifyEmail()" 
          [disabled]="formgrp.get('EmailID')?.invalid || !formgrp.get('EmailID')?.value"
          [attr.aria-disabled]="formgrp.get('EmailID')?.invalid || !formgrp.get('EmailID')?.value"
          >Verify your Email address</button>
        </p>

    </div>
      </div>
  </div>
<div class="control-row">
  <div class="control">
    <ng-otp-input [config]="config" formControlName="code"></ng-otp-input>
    @if (formgrp.get('code')?.touched && formgrp.get('code')?.hasError('invalidOtp')) {
    <small class="error">Invalid OTP. Please try again.</small>
    }
  </div>


  <!-- <label for="otp">OTP</label>
    <input id="otp" type="email" name="otp" formControlName="otp" /> -->

  <div class="control">
    <p>
      <button type="button" class="button" (click)="submitOtp()">Enter your OTP</button>
    </p>
  </div>
</div>

@if(isVerified){
  <p>Email verified successfully!</p>
 <hr/>
 <div>
  <app-kidsdetails [formgrp]="formgrp"
  [onPaymentSuccessFn]="onPaymentSuccess.bind(this)"></app-kidsdetails>
  </div>
  <hr/>
  <div class="control-row">
    <div class="control">
      <label for="terms-and-conditions">
        <input
          type="checkbox"
          id="terms-and-conditions"
          name="terms"
          formControlName="agreeCond"
        />
        I agree to the terms and conditions
      </label>
    </div>
  </div>
   <div class="control-error" *ngIf="formgrp.get('agreeCond')?.touched && formgrp.get('agreeCond')?.invalid">
    @if(formgrp.get('agreeCond')?.errors?.['required']){
        <small>please read and approve the Termconditions</small>
        }  </div>
  <p class="form-actions">
    <button type="reset" class="button button-flat">Reset</button>
    <button type="submit" class="button" >Sign up</button>
  </p>
}
</form>

