@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Lato:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lato", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(#d0d6d9, #b1b4ba);
  color: #d9e2f1;
  min-height: 100vh;
}

h2 {
 font-family: cursive;
  font-weight: initial;
  font-size: xx-large;
  margin: 1rem 0;
  letter-spacing: 0.2rem;
  color: #d48309;
}

form {
  width: 90%;
  max-width: 40rem;
  margin: 3rem auto;
  padding: 2rem;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 16px 1px #0c0c0c;
}

.control,
fieldset {
  margin: 0.5rem 0;
}

.control.no-margin {
  margin-bottom: 0;
}

.control label {
  display: block;
  font-size: 0.8rem;
  margin-bottom: 0.2rem;
  color: #121111;
  text-transform: uppercase;
  font-weight: bold;
}

.control input {
  display: block;
  width: 100%;
  max-width: 15rem;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #121111;
  background-color: #ffffff;
  color: #111111;
}

.control select {
  display: block;
  width: 100%;
  max-width: 15rem;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #121111;
  background-color: #f4563e;
  color: #ffffff;
}

.control:has(input[type="checkbox"]) {
  display: flex;
  align-items: center;
}

.control:has(input[type="checkbox"]) label {
  margin: 0;
}

.control input[type="checkbox"] {
  display: inline-block;
  width: auto;
  max-width: none;
  margin-right: 0.5rem;
  border-radius: 0;
  border: none;
  background-color: transparent;
  color: #d9e2f1;
}

.control-error {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  color: #e42a05;
  height: 0.5rem;
  padding: 0.25rem 0 0 0;
  height: 1.5rem;
  margin-bottom: 1rem;
}

.control-error p {
  margin: 0;
}

.control-row {
  margin: 0.5rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 0.5rem;
}

.control-row .control {
  flex: 1;
}

hr {
  margin: 1.5rem 0;
  border: 1px solid #121111;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}
.form-actionsotp {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}
.button-text {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 4px;
  background: #f4563e;
  border-color: #f4563e;
  color: #fff;
  cursor: pointer;
}
.button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 4px;
  background: #f4563e;
  border-color: #f4563e;
  color: #f4563e;
  cursor: pointer;
}
.button-add {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  text-decoration: underline;
  border-radius: 4px;
  background: #f4563e;
  border-color: #f4563e;
  color: #f4563e;
  cursor: pointer;
  
}
.button:hover,
.button:focus {
  background-color: #f4563e;
}

.button-flat {
  background-color: transparent;
  color: #f4563e;
}

.button-flat:hover,
.button-flat:focus {
  background-color: transparent;
  color:  #f4563e;
}
.control:has(.ng-invalid.ng-touched.ng-dirty) label {
  color: #ea9902;
}

input.ng-invalid.ng-touched.ng-dirty{
  background-color: #f0490c;
  border-color:  #ea9902;
}